<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <add name="cnl" connectionString="server=192.168.9.137;Database=tacl;user=rahul;password=bt#lk786"/>
    <add name="cnd" connectionString="server=192.168.9.137;Database=tacl;user=rahul;password=bt#lk786"/>
    <add name="cnhrm1" connectionString="Server=192.168.9.137;Database=hrm1;User ID=rahul;Password=bt#lk786;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="cnQuality" connectionString="Server=192.168.9.137;Database=Quality;User ID=rahul;Password=bt#lk786;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="cntaclsal" connectionString="Server=192.168.9.137;Database=tacl_sal;User ID=rahul;Password=bt#lk786;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>


    <!--<add name="cnl" connectionString="server=192.168.9.137;Database=tacl;user=rahul;password=bt#lk786"/>
    <add name="cnd" connectionString="server=192.168.9.137;Database=tacl;user=rahul;password=bt#lk786"/>
    <add name="cnhrm1" connectionString="Server=192.168.9.100;Database=hrm1;User ID=sa;Password=sa;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="cnQuality" connectionString="Server=192.168.9.100;Database=Quality;User ID=sa;Password=sa;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="cntaclsal" connectionString="Server=192.168.9.100;Database=tacl_sal;User ID=sa;Password=sa;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->   
    
    
    
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, &#xA; Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="512000" requestLengthDiskThreshold="512000" executionTimeout="90"/>
    <pages enableSessionState="true" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0"/>
    <sessionState timeout ="15"></sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>
